*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
/* ======================== Banner Section Style Start here ============================== */
#banner{
    text-align: center;
    padding:5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(255, 0, 0, 0.39), rgba(252, 144, 42, 0.315)), url("images/bg.jpg");
    background-position: center center;
    height: 70vh;
}
#banner h1{
    margin-bottom: 1.5rem;
    font-size: 4.5rem;
    color: rgb(79, 248, 158);
}
#banner p{
    font-size: 2rem;
    margin:0 20%;
    color:turquoise;
}