*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
/* ======================== Header Section Style Start here ============================== */
#header{
    padding:2rem 8%;
    background: skyblue;
}
#header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header nav .logo{
    font-size: 2.2rem;
}
#header nav ul{
    list-style: none;
}
#header nav ul li{
    display: inline-block;
    margin:0 1rem;
}
#header nav ul li a{
    text-decoration: none;
    font-size: 1.8rem;
    color:#fb3200;
}





/* ======================== Banner Section Style Start here ============================== */
#banner{
    text-align: center;
    padding:5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(255, 0, 0, 0.39), rgba(252, 144, 42, 0.315)), url("images/bg.jpg");
    background-position: center center;
    height: 75vh;
}
#banner h1{
    margin-bottom: 1.5rem;
    font-size: 4.5rem;
    color: rgb(79, 248, 158);
}
#banner p{
    font-size: 2rem;
    margin:0 20%;
    color:turquoise;
}








/* ======================== Services Section Style Start here ============================== */

#services{
    padding:5rem 8%;
}
#services .serviceTittle{
    text-align: center;
}
#services .serviceTittle h1{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}
#services .serviceTittle p{
    margin:0 25%;
    font-size: 1.8rem;
}





/* ========================= Footer  Section Style Start Here ========================= */

#footer{
    padding:5rem 8%;
}
#footer .footerTittle{
    text-align: center;
}
#footer .footerTittle h1{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}
#footer .footerTittle p{
    margin:0 25%;
    font-size: 1.8rem;
}
